canvas
{
	/*images-mouseover*/
	background-image: url('data:image/png;base64,\
	iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAKElEQVQoz2OcOXMmAzZw9uxZrOJM\
	DCSCUQ3EABZc4W1sbDwaSvTTAABS2wdUfD43jQAAAABJRU5ErkJggg==');
}
#num_polys, #num_verts 
{
	width: 100%;
}
#start, #pause 
{
	width: 50%;
}
#clipboard
{
	/*dna/svg clipboard*/
	width: 100%;
}
.card 
{
	width:100%;height:100%;
}
